@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(234, 251, 251);
}
header {
    margin: 40px 0 50px 42px;
    position: sticky;
    /* deixa a barra de menu fixa,
    quando rola a página */
    top: 0; /* determina quando vai ficar fixo */
}
.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21%;
    text-align: center;
    color: rgba(23, 35, 61, 1);
    cursor: pointer;
    margin-right: 32px;
}
.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid rgba(76, 181, 56, 1);
    background-color: rgba(111, 191, 68, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

.button-header:hover { /* pseudo classe */
       border: 1px solid rgba(76, 181, 56, 1);
    background-color: rgb(255, 255, 255);
    color:  rgba(111, 191, 68, 1);
    font-weight: bolder;
}

.logo-image {
    width: 534px;
    height: 467px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 535px;
}

h1 {
    color: rgba(22, 26, 73, 1);
    font-weight: 700px;
    font-size: 62px;
    line-height: 60px;

}
h1::first-line { /* pseudo elemento */
    color: darkgreen;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    margin-top: 47px;
    margin-bottom: 55px;
}

p::first-letter { /* pseudo elemento */
    
    font-size: 80px;
}

.button-main {
    width: 112px;
    height: 27px;
    background: transparent;
    border: none;
    color: rgba(111, 191, 68, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
       
}
.button-tell-me {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.button-tell-me:hover { /* pseudo classe */
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 851px) {
   
    header {
        position: fixed;
        top: 0;
        right: 0;
    }

    .link-menu {
        display: none;
    }

    .button-header {
        position: relative;
        right: 45px;
    }
    
    section {
        width: 320px;
        margin-left: 0px;
        display: inline-block;
        position: relative;
        top: 125px;
        left: 25px;
    }
    
    h1 {
        width: 278px;
        height: 60px;
        margin: 0px auto;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        font-size: 18px;
        position: fixed;
        top: 22%;
        right: 0px;
        padding: 0 43px;
        line-height: 20px;
        text-align: center;

    }

    .button-main {
        margin: 0px auto;
        display: block;
        height: 62px;
        width: 84%;
        position: fixed;
        top: 394px;
        cursor: pointer;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
    }

    .logo-image {
        height: 30%;
        width: 85%;
        position: fixed;
        bottom: 10%;
        margin: 0 30px;
        padding-top: 0%;
    }

    .button-tell-me {
        display: none;
    }
}